body {
  background-color: #080808;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border: 20px solid rgb(43, 165, 236);
}

img {
  width: 15%;
}

.red_font {
  color: #bc001f;
}

.tiny_text {
  font-size: 11px;
  color: #5da82f;
}